/*@viewport{
	width: device-width;
}*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700');

*{
	padding: 0
	margin: 0;
	box-sizing: border-box;
}

/*-------------------PC----------------------*/
@media (min-width: 768px){
	
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700');

[class*='col'] {
	float: left;
	margin:0 0 0 0;
	width: 25%;
	min-width: 25%;
	box-sizing: border-box;
	padding: 5px;
	border-right: 1px solid brown;
}
body {
	font-family: 'Source Code Pro', monospace;
}
.container {
	width: 100%;
	max-width: 100%;
	min-width: 769px;
}
header{
	background: url("images/fon.jpg");
	background-position: center;
	background-size: cover;
}
.page-title {
	font-size: 80px;
	font-weight: 200;
	text-align: center;
	padding: 100px;
	color: #000;
}

.nav {
	background:#000;
	text-align: center;
}
.nav li{
	display: inline-block;
}
.nav li a{
	display: inline-block;
	padding: 20px;
	color: #fff;
	text-decoration: none;
}
a:hover {
	background-color: #3AB795;
	text-decoration: underline;
}

.row-1{
	width: 100%;
	min-width: 100%;
	margin:0 0 0 0;
	display: inline-block;
}

.messageForm{
		width: 100%;
	}

	.messageForm form{
		margin: auto;
		width:450px ;
	}

footer{
	padding: 20px;
	margin:auto;
	/*max-width: 600px;*/
	width: 100%;
	max-height: 55px;
	border-top:1px solid #444;
	display: inline-block;
}
footer p{
	font-size: 12px;
	color: #444;
	text-align: center;
	margin: auto;
}







/*----------------------iPad-------------------*/
@media (min-width: 481px) and (max-width: 768px){

	@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		font-family: 'Source Code Pro', monospace;
	}

	.container{
		width: 100%;
		max-width: 100%;
	}

	header{
		background: url("images/fon.jpg");
		background-position: center;
		background-size: cover;
	}

	.page-title{
		font-size: 50px;
		font-weight:200;
		text-align: center;
		padding:70px;
		color: #000;
	}

	.nav{
		background:#000;
		text-align: center;

	}

	.nav li{
		display: inline-block;
	}
	.nav li a{
		display: inline-block;
		padding: 20%;
		color: #fff;
		text-decoration: none;
	}
	a:hover {
		background-color: #3AB795;
		text-decoration: underline;
	}

	.row-1{
		width: 100%;
		min-width: 100%;
		margin:0 0 0 0;
		display: inline-block;
	}


	[class*='col'] {
	float: left;
	margin:0 0 0 0;
	width: 50%;
	min-width: 50%;
	box-sizing: border-box;
	padding: 3px;
	border-right: 1px solid brown;
	}

	footer{
		padding: 20%;
		margin:auto;
		/*max-width: 600px;*/
		border-top:1px solid #444;
	}
	footer p{
		font-size: 12px;
		color: #444;
		text-align: center;
	}

}






/*----------------mobile------------------------*/
@media (max-width: 480px){

	@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		font-family: 'Source Code Pro', monospace;
	}

	.container{
		width: 100%;
		max-width: 100%;
	}

	header{
		background: url("images/fon.jpg");
		background-position: center;
		background-size: cover;
	}

	.page-title{
		font-size: 50px;
		font-weight:200;
		text-align: center;
		padding:30px;
		color: #000;
	}

	.nav{
		background:#000;
		text-align: center;
	}

	.nav li{
		display: inline-block;
	}
	.nav li a{
		display: inline-block;
		padding: 20%;
		color: #fff;
		text-decoration: none;
	}
	a:hover {
		background-color: #3AB795;
		text-decoration: underline;
	}

	.row-1{
		width: 100%;
		min-width: 100%;
		margin:0 0 0 0;
		display: inline-block;
	}

	[class*='col'] {
	float: left;
	margin:0 0 0 0;
	width:100%;
	min-width:100%;
	box-sizing: border-box;
	padding: 3px;
	border:1px solid brown;
	border-collapse: collapse;
	clear: right;
	}

	footer{
		padding: 20%;
		margin:auto;
		/*max-width: 600px;*/
		border-top:1px solid #444;
	}
	footer p{
		font-size: 12px;
		color: #444;
		text-align: center;
	}

	body:after{
		content: "Mobile version";
	}

}

